---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.astro';

const response = await fetch(
  'http://jsonplaceholder.typicode.com/posts?_limit=5'
);
const posts = await Astro.glob('../posts/*.md');
---

<Layout title='Astro Blog'>
  <Showcase heading='Astro Blog' text='Blog built with Astro' />
  <section class='page-content'>
    <div class='container'>
      {
        posts.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <p>{post.frontmatter.excerpt}</p>
            <a class='btn' href={`/${post.frontmatter.slug}`}>
              Read More
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
