---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
const name = 'Astro';
const style = 'purple';
const visible = false;
const response = await fetch(
  'http://jsonplaceholder.typicode.com/users?_limit=10'
);
const users = await response.json();
---

<Layout title='hello' ≥>
  <h1 class={style}>Hello {name}</h1>
  <ul>
    {users.map((user: { name: unknown }) => <li>{user.name}</li>)}
  </ul>

  {visible ? <p>I am visible</p> : <p>I am not visible</p>}

  <Showcase />

  <Features />

  <style>
    h1 {
      color: red;
    }
    .purple {
      color: purple;
    }
  </style>
</Layout>
