---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tabs from '../components/Tabs.astro';
---

<Layout title='hello' ≥>
  <Showcase />

  <Features />
  <section class='page-content'>
    <div class='container'>
      <Tabs
        headings={['NPM', 'PNPM', 'YARN']}
        contents={[
          '$ npm create astro@latest',
          '$ pnpm create astro@latest',
          '$ yarn create astro',
        ]}
      />
    </div>
  </section>
</Layout>
