---
import logo from '../images/logo.svg';
import { Icon } from 'astro-icon/components';
---

<header class='header'>
  <div class='container'>
    <div class='logo'>
      <a href='/'>
        <img src={logo.src} alt='' />
      </a>
    </div>
    <nav transition:persist='navigation'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/blog'>Blog</a></li>
      </ul>
      <button
        class='flex m-auto px-2 items-center rounded bg-theme-100 hover:bg-theme-200'
        data-theme-toggle
        aria-label='toggle theme'
      >
        <span class='flex items-center'>Toggle theme</span>
        <Icon name='bx:bxs-sun' class='w-4 h-4 text-theme-800' />
      </button>
    </nav>
  </div>
</header>

<style>
  .header {
    height: 70px;
    background: var(--color-primary);
  }

  .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .header img {
    height: 35px;
    vertical-align: middle;
  }

  .header nav ul {
    display: flex;
  }

  .header nav ul li {
    padding: 0 10px;
  }

  .header nav ul li a {
    color: #fff;
  }
</style>
